{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block main %}
{% include "nav.html" %}
{% load static %}
<hr>
<main>
    <div class="grid main-container">
        <section class="main-left-section">
            <div class="main-left-sec-container">
                <a href="">
                    <li>Dashboard</li>
                </a>
                <a href="">
                    <li>Notification</li>
                </a>
                <a href="">
                    <li>Tracking Data</li>
                </a>
                <a href="">
                    <li>Company's Portal</li>
                </a>
                <a href="">
                    <li>references</li>
                </a>

            </div>
        </section>
        <section class="main-right-section">
            {% include "mapview.html" %}
        </section>
    </div>
</main>
<hr>
{% include "footer.html" %}
{% endblock main %}