{% include "base.html" %}
{% block header %}
{% load static %}
<header>
    <div class="flexbox header-container">
        <div class="hamburger">
            <a href="#" id="menu-toggle">&#9776;</a>
            <a href="#" id="close-menu" style="display: none;">&#x2715;</a>
        </div>
        <nav>
            <ul class="flexbox navbar">
                <img src="" alt="logo" class="log">
                <li class="nav-items"><a href="">Home</a></li>
                <li class="nav-items"><a href="">About</a></li>
                <li class="nav-items"><a href="">Services</a></li>
            <li class="nav-items"><a href="">Contact</a></li>
        </ul>
    </nav>
    <section class="nav-buttons">
        <button type="submit">SignUp</button>
        <button type="button">Admin</button>
    </section>
    </div>
</header>
{% endblock header %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuToggle = document.getElementById('menu-toggle');
        const closeMenu = document.getElementById('close-menu');
    
        menuToggle.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent default anchor click behavior
            menuToggle.style.display = 'none'; // Hide hamburger icon
            closeMenu.style.display = 'inline'; // Show close icon
            // Add any additional functionality for opening the menu here
        });
    
        closeMenu.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent default anchor click behavior
            closeMenu.style.display = 'none'; // Hide close icon
            menuToggle.style.display = 'inline'; // Show hamburger icon
            // Add any additional functionality for closing the menu here
        });
    });
    
</script>
{% endblock script %}