*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* utility classes */
 .flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .grid{
   display: grid;
 }

 /* start header css */
 .header-container{
    height: 10vh;
    justify-content: space-between;
    padding: 1rem;
 }
 .hamburger {
  cursor: pointer;
}
.hamburger a{
  text-decoration: none;
  font-size: 24px;
}
 nav ul li{
  list-style: none;
  margin: 0 1rem 0 1rem;
}
nav ul li a{
  text-decoration: none;
}

 /*end header css */

 /* start main css */
 .main-container{
    min-height: 80vh;
    grid-template-columns: 1fr 5fr;
    gap: 1px;
 }
 .main-left-section{
   background-color: #79ebbb;
 }
 .main-right-section{
   background-color: #ccfce1;
 }
 .main-left-sec-container a{
  text-decoration: none;
  display: block;
  padding: 3px 1rem;
 }
.main-left-sec-container a li{
  list-style: none;
}
.main-left-sec-container a:hover{
  background-color: #74ce9b;
}
 /* end main css */

 /* start footer css */
 .footer-container{
    height: 10vh;
 }
 /* end footer css */